{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Age 4 - 12</h1>
<h3>Health: 100</h3>
<h3>Money: $1000</h3>
<div class="row">
{% for card in children_cards %}
    {% if card.title in 'School,Job' %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static card.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                    {% if card.title == 'School' %}
                        <a href="{% url 'school'  %}"
                        class="btn btn-primary">
                            Go to {{ card.title }}
                        </a>
                    {% endif %}
                    {% if card.title == 'Job' %}
                        <a href="{% url 'job'  %}"
                        class="btn btn-primary">
                            Go to {{ card.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
<a href="http://www.ficy.org"
class="btn btn-primary">
    Go to ficy.org
</a>
{% endblock %}
