{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Getting Started</h1>
<h3>Choose your age group</h3>
<div class="row">
{% for card in cards %}
    {% if card.title in '4 - 12,13 - 35,36 -65,65+' %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static card.image %}">
                <div class="card-body">
                    <h3 class="card-title">{{ card.title }}</h3>
                    <p class="card-text">{{ card.description }}</p>
                    {% if card.title == '4 - 12' %}
                        <a href="{% url 'children'  %}"
                        class="btn btn-primary">
                            Learn More
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
<a href="http://www.ficy.org"
class="btn btn-primary">
    Go to ficy.org
</a>
{% endblock %}
